.profile__left {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

@media screen and (max-width: 880px)  {
    .profile__left {
        flex-direction: column;
        align-items: center;
        align-self: center;
       
    }
}