.element__like {
    position: relative;
    width: 22px;
    height: 19px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background: transparent;
    background-image: url(../../../images/Like.svg);
    border: 0px;
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background-image: url(../../../images/LikeBlack.svg);
}