.popup__xbutton {
    position: absolute;
    top: -38px;
    right: -40px;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    display: flex;
    border: none;
    box-sizing: border-box;
    background-image: url(../../../images/Close\ Icon.svg);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    
}

.popup__xbutton:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px)  {
    .popup__xbutton {
        width: 20px;
        height: 20px;
        right: 0;
    }
}