.profile__add-button {
    position: relative;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
    background-image: url(../../../images/Plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-color: #000000;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 880px)  {
    .profile__add-button {
        width: 282px;
        min-width: 200px;
        background-size: 17px 17px;
    }
}